/* Importa a fonte Poppins (Google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset: limpar as formatações padrão */

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}


header {
    background-color: #ffffffea ;
    display: flex;
    height: 70px;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    flex-direction: row;
    
}

header li {
    list-style-type: none;
}

header a {
    color: #030303ea;
    text-decoration: none;
}

header a:hover {
    color: #fdfeff;
}

header li:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    color: #eff3f5;
    height: 100%;
    width: 5rem;
    transition: 0.5s;
}

header button{
    background-color: #ff6600;
    color: #ffffffea;
    position: absolute;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    right: 4%;
    border-bottom: 0px;
    font-weight: bold;
    border: none;
}

/* Logo Caminhão */
header img {
    display: flex;
    height: 50px;
    position: absolute;
    margin-right: 80rem;
}

/* Texto ao lado da Logo */
header h1 {
    display: flex;
    position: absolute;
    margin-right: 67rem;
    color:#ff6600 ;
}

main {
    height: 50vh;
    background-image: url('../asserts/Container_.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-top: 5rem;
    display: flex; /* Usa flexbox para alinhar os itens lado a lado */
}
.section-1 {
    flex: 1; /* Ocupa todo o espaço disponível */
    padding: 20px;
    background-color: #f0f0f0;
}












